.Following{
    background-color: blue;
    color:white;
    border: 0;
    font-size: 1rem;
    width:130px;
    height:45px;
    margin-bottom:0.5rem;
}
.Follow{
    border: 0;
    font-size: 1rem;
    width:100px;
    height:45px;
    margin-bottom:0.5rem;
}
