.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.side-menu.open .p-menu{
    color:rgb(17, 10, 10);
    font-weight: 800;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-content{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    gap:20px;
    color:black;
}

.menu-opt{
    display: flex;
    gap:10px;
    font-size: 1.2rem;
    color:black;
    font-weight:600;
}

/* THIS IS THE MOST IMPORTANT PART */
.side-menu {
  position: fixed;          /* removes it from layout */
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  background: rgb(248, 246, 246);

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  z-index: 1000;
}

.side-menu.open {
  transform: translateX(0);
}
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}
