.event-details{
    position: fixed;
    height:90vh;
    display:flex;
    flex-direction: column;
}
.event-info{
    display:flex;
    flex-direction: row;
    
}
.event-image{
    object-fit: cover;
    width:100%;
    height: 100vh;
}
.event-content{
    padding:10px;
    background-color: rgb(27, 30, 30);
    fill-opacity: 70%;
    margin:0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    align-content: center;
    position: absolute;
    gap:10px;
    top:20%;
    color:rgb(220, 228, 223);
    font-size:1.5rem;
    flex-direction: column;
}
.event-content h1 , p  {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
}
.buy-ticket{
    position: absolute;
    font-weight:600;
    left:50%;
    top:70%;
    width:200px;
    color:White;
    font-size:1rem;
    padding:20px;
    background: rgb(21, 140, 200);
    border-radius: 20px;
    border:none;
}
.event-details {
  position: relative;
}

.event-info {
  position: relative;
}

.info-btn {
  position: absolute;
  top: 60px;
  right:10px; /* adjust so it doesn’t overlap Buy Tickets button */
  background: rgba(221, 218, 218, 0.6);
  color: #050505;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.close-btn{
    position: absolute;
    top:2px;
    right:2px;
    background:none;
    border:none;
    color:rgb(243, 240, 240);
}
.event-name{
    color:white;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}
.event-datee{
    color:rgb(76, 76, 82)
}
.event-date{
    color:white;
}
.event-description{
    margin-top: 10px;
    color:white;
    font-size: 1.5rem;
}
