.Feed-Page{
    height:100vh;
    display: flex;
    flex-direction:column;
    color:black;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.feed-preview{
    filter: blur(2px);
}
.post{
    position: relative;
    max-width:100%;
}

.post-image{
    width:100%;
    height:100vh;
    object-fit: cover;
    border-radius: 14px;
    margin-top: 20px;
}
.post-actions{
    display:flex;
    flex-direction: column;
    gap:20px;
    position: absolute;
    top:60%;
    right:5%;
}
.post-actions .nos{
    font-size:1rem ;
    color:white;
}
.set-icon{
    font-size: 100px;
}

.Feed-Page h3{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}
.Feed-Page p{
    color:blue;
    font-size:0.9rem;
}
.Pop-Up{
    position: absolute;
    top:50%;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    padding:15px;
    border-radius: 10px;
}