section{
    padding:0px;
}
.home-content{
    margin:0;
}
section h2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 1.4rem;
    margin-bottom:10px;
    margin-left:10px;
}   
.cards-container{
    display: flex;
    flex-wrap:wrap;
    gap:0px;
}
.recommended-section{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap:0px;
    padding:0px 0;
    scroll-behavior: smooth;
}
#Recommended-For-You-Section h2{
    font-size:25px;
    color:rgb(85, 20, 20);
    margin-bottom:12px ;
}
.h2p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-all{
   padding:10px;
   font-size:0.9rem;
   font-weight: light;
   border:none;
   color:rgb(4, 4, 179);
}
#home-content{
    margin-top: 60px;
}
.Upcoming-Evvents{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap:0px;
}
.Upcoming-Evvents h3{
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#4d0dac;
    font-size: 1.4rem;
}
.h2p button {
  background: none;          /* transparent background */
  border: none;              /* no border */
  color: #390aba;            /* primary accent color */
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 4px 8px;
}

.h2p button:hover {            /* slightly darker on hover */
  text-decoration: underline 1px solid blue;
}

