section{
    padding:0px;
    margin:5px;
}
section h2{
    font-size: 1.3rem;
    margin-bottom:10px;
    margin-left:10px;
}   
.cards-container{
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}
.recommended-section{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap:16px;
    padding:10px 0;
    scroll-behavior: smooth;
}
#Recommended-For-You-Section h2{
    font-size:25px;
    color:rgb(85, 20, 20);
    margin-bottom:12px ;
}
#Upcoming-Events{
    color:black;
    display: flex;
    margin-bottom: 4rem;
    flex-direction: column;
    margin-top: 2px;
    margin-left:30px;
    margin-right:30px;
    text-align: center;
    align-content: center;
}
#Upcoming-Events h2{
    color:rgb(10, 10, 12);
    font-size: 2rem;

}
.events-slider{
    display:flex;
    justify-content: center;
    gap:5px;
}
.Event{
    display: flex;
    flex-direction: column;
}
.event-image{
    height:150px;
    width:100px;
  
}
.host-name{
    position: absolute;
    width:100px;
    color:white;
   
}
.h2p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-all{
   padding:10px;
   font-size:0.7rem;
   background-color: black;
   font-weight: light;
   border:none;
   color:rgb(241, 240, 244);
   text-decoration: underline 1px solid blue;
}

