form{
    display: flex;
    flex-direction: column;
    height:80vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap:20px;

}
form input{
    font-size: 1rem;
    border:none;
    padding:20px;
    width:70%;
}
form button{
    color:rgb(250, 247, 247);
    font-size: 1rem;
    width:7rem;
    padding:15px;
    border:none;
    background-color: black;
    border-radius: 10px;
}
form p{
    color:rgb(243, 235, 235);
    font-size:1rem;
    padding:20px;
    border-radius: 20px;
    background-color: rgb(236, 32, 32);
    border: none;
}
.title-h3{
    color:black;
    font-size:1.5rem;
    border-bottom:2px solid rgb(49, 19, 244);
}