.bottom-nav{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height:65px;
  background: #ffffff;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item{
  background: none;
  border:none;
  flex:1;
  padding:10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  padding:15px;
  font-size: 26px;
  color:#0e0c0c;
}

.nav-item.active .icon{
  color:#0f172a;
  border-bottom: 1px solid #0f172a;

}