.card {
  flex:0 0 120px;
  min-width:250px;
  width:100%;
  border-radius:20px;
  margin:10px;
  overflow: hidden;
  text-align: center;
}
.recommended-card{
  flex:0 0 auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin:1px;
  text-align: center;
}
.recommended-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0 , 0.15);
}
.card-image {
  width:100%;
  height: 200px;
  object-fit: cover;
}
.card-info{
  position: absolute;
  top:100px;
  left:40px;
  height:100px;
  gap:1px;
  color:rgb(248, 246, 246);
}
.card-info p {
  text-align: center;
  color: #ece2e2;
  padding: 0 5px 10px 5px;
}
.card-name{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap:5px;
  font-size:1rem;
  font-weight: 700;
  color:rgb(238, 230, 231);
  border: none;
  margin:6px 0 4px;
}

.card-description{
  font-size: 0.9rem;
  color:#121010;
  text-decoration: none;
  line-height: 1.3;
}
.card-rating {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  font-size: 12px;
  margin-bottom: 8px;
}

.star-icon{
  color:#ffcc00;
  font-size:14px;
  margin-right: 4px;
}
.card-link {
  text-decoration: none; /* remove underline */
  color: inherit;        /* inherit color from child elements */
}
.card-image-wrapper {
  position: relative;  /* needed for absolute positioning of icon */
  display: flex;
  flex-direction: column;
}

.save-icon {
  position: absolute;
  top: 8px;      /* distance from top */
  right: 8px;    /* distance from right */
  color: white;  /* icon color */
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.4); /* optional dark circle behind icon */
  border-radius: 50%;
  padding: 4px;
}
