.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.header-content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-corner {
  width:50%;
  display: flex;
  align-items: center;
}
.p-holder{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 5px;
}

.user-icon {
  border:1px solid red;
  width: 40px;
  border-radius: 10%;
  margin-right: 10px;
  border:1px solid blue;

}

.location-info {
  display: flex;
  flex-direction: column;
  align-items:start;

}
.username{
  margin:3px;
}
.current-location-text{
  margin:3px;
  font-size: 14px;
  color: rgb(4, 4, 7);

}
.search-bar input { 
  border:none;
  width: 90%;
  font-size: 16px;   /* <-- this stops mobile zoom */
  padding: 10px;
  margin-top: 10px;
  width: 90%;
  border-radius: 10px;
}
.notification-icon{
  margin:10px;
}
