.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
  height:4rem;
}

.tabs button {
  flex: 1;
  color:black;
  font-size: 0.9rem;
  padding: 0.5rem;
  background: none;
  border: none;
  font-weight: 800;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.tabs button.active {
  font-size: 1.1rem;
  border-bottom:2px solid blue;
  color: rgb(51, 13, 205);

}
.tab-content p{
    color:black;
    font-size:1rem;
    font-weight: 200;
}

.tab-content {
  padding: 1rem;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-btn {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(7, 6, 6);
  background-color: none;
  border:1px solid black;
}

.contact-btn.whatsapp {
  background-color: #25D366;
}
