#Upcoming-Events{
    margin-left:0;
    width:100%;
    display:flex;
}
.Upcoming-Events .slider-container{
    gap:0rem;
    width:100%;
    margin:0;
}
.Upcoming-Events .card{
    margin-left:2px;
    min-width :100px;
    height:120px;
    width: 20px;
}
.Upcoming-Events {
    height:80px;
    width:100%;
}
