
.Upcoming-Events .slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0rem;
    width:100%;
    margin:0;
}
.Upcoming-Events .card{
    margin-left:2px;
    min-width :100px;
    height:105px;
    width: 15px;
    border-radius: 30px;
}
.Upcoming-Events {
    height:80px;
    width:100%;
}
