.user-profile{
    display: flex;
    align-items: center;
    gap:8px;
    padding:8px 12px;
    border-radius: 12px;
}

.avatar{
    width:36px;
    height: 36px;
    background: #222;
    color:white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p{
    margin:0;
    font-size: 13px;
}

.name{
    font-weight: 600;
}

.location{
    opacity: 0.6;
}